body { background-color: rgb(255, 243, 215);}

.goback {
    color: plum;
    background-color: rgb(255, 255, 255);
    width: 32%;
    padding: 0.5%;
    border: 3px solid rgb(255, 206, 114);
    position: fixed;
    margin:0%;
    top: 0%;
    left: 0%;
    font-size: 12pt;
    text-align: center; 
}

.menu {
    background-color: rgb(255, 255, 255);
    width: 32%;
    padding: 0.5%;
    border: 3px solid rgb(255, 206, 114);
    position: fixed;
    top: 0%;
    left: 32.25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu3 {
    background-color: rgb(255, 255, 255);
    width: 32%;
    padding: 0.5%;
    border: 3px solid rgb(255, 206, 114);
    position: fixed;
    top: 0%;
    right:0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.goback:hover, .menu:hover, .menu2:hover, .menu3:hover {
    background-color: rgb(255, 238, 141);
    -webkit-text-fill-color: rgb(153, 224, 169);
    opacity: 1;
}

 a:link {color: plum; text-decoration: none;}
 a:visited {color: plum; text-decoration: none;}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    line-height: 200%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35pt;
    margin-top: 9%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16pt;
}

.alltext {
    width: 90%;
    text-align: left;
    margin: auto;
}

@media only screen and (min-width: 768px){
   .alltext { width:60%;}
}