body { 
    background-position: center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img-min/homepage.jpg");
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
}
    

p {
    font-family: Arial, Helvetica, sans-serif;
}

a:link { 
    text-decoration: none;
    color:rgb(255, 0, 0)}

a:visited { 
    text-decoration: none;
    color: rgb(255, 0, 0);}

a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.hello {
    text-align: center;
    position: relative;
    top: 175px;
    color: rgb(5, 109, 83);
}
.name {
    text-align: center;
    font-size: 110pt;
    color:whitesmoke;
    font-weight:bolder;
    margin: 5%;
    -webkit-text-stroke-color: rgb(0, 52, 183);
   -webkit-text-stroke-width: 2px;
    position: relative;
    top: 85px;
    text-shadow:0px 0px 15px rgb(5, 109, 83);
}

.click {
    text-align: center;
    position: relative;
    right:100px;
    top:20px;
    color: rgb(5, 109, 83);
}

.oval {
    height: 50px;
    width: 100px;
    background-color: rgb(255, 233, 93);
    border-radius: 50%;
    border: 2px solid rgb(5, 109, 83);
    text-align: center;
    margin:auto;
    position: relative;
    top: 20px;
 }

.oval:hover {
    background-color: red;
}

 .click2 {
    text-align: center;
    position: relative;
    bottom: 85px;
    left: 140px;
    color: rgb(5, 109, 83);
 }

.rectangle {
    height: fit-content;
    width: 10%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding-top: 1px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 1px;
    border: 2px solid rgb(3, 87, 184);
    font-size: 10pt;
    text-align: center;
    position: relative;
    top: 50px;
}

.rectangle:hover {
    background-color: rgb(5, 109, 83);
}

.aboutme {
    color: rgb(5, 109, 83);
}

@media only screen and (min-width: 768px) {
   .rectangle { width: 5%;}
    
    }




