body {
    background-color:plum;
    height:100%;
}


.goback {
    color: plum;
    background-color: rgb(255, 255, 255);
    width: 23%;
    padding: 0.5%;
    margin: 0%;
    border: 3px solid yellow;
    position: fixed;
    top: 0%;
    left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.menu {
    background-color: rgb(255, 255, 255);
    width: 23%;
    padding: 0.5%;
    border: 3px solid yellow;
    position: fixed;
    top: 0%;
    left: 24%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu2 {
    background-color: rgb(255, 255, 255);
    width: 23%;
    padding: 0.5%;
    border: 3px solid yellow;
    position: fixed;
    top: 0%;
    right: 26%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu3 {
    background-color: rgb(255, 255, 255);
    width: 23%;
    padding: 0.5%;
    border: 3px solid yellow;
    position: fixed;
    top: 0%;
    right:0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.goback:hover, .menu:hover, .menu2:hover, .menu3:hover {
    background-color: rgb(52, 221, 43);
    -webkit-text-fill-color: aqua;
    opacity: 1;
}

 a:link {color: plum; text-decoration: none;}
 a:visited {color: plum; text-decoration: none;}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    color: yellow;
    text-align: center;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    color: yellow;
    text-align: center;
    position: relative; bottom: 30px;
}

img {
    border: 5px solid yellow;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.akaii {
    margin-top: 10%;
}

.akaii1:hover, .occupy1:hover, .stickyfeet1:hover, .stickyfeet2:hover, .ice-princess1:hover,
.html-zine1:hover, .queer-zine1:hover, .black-friday1:hover, .icetober:hover, .dance1:hover, .dance2:hover,
.essay1:hover
{ border: 10px solid yellow}

.writing {text-align: center;}

.writing:hover { opacity: 1;}

.alternativeice {
    text-align: center;
    position: relative;
    text-align: center;
    margin: auto;
}

.altice {
    width: 90%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: auto;
    top: 0px;
}

.ice-ink {text-align: center;}

button {
margin-top: 10px;
  position:relative;
display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: yellow;
  background-color: rgb(87, 179, 228);
  border: 3px solid yellow;
  text-align: center;
  padding: 10px 20px;

}

button:hover {
    opacity: 0.7;
}

@media only screen and (min-width: 768px) {
img {
    width: 30%;
    border: 5px solid yellow;
}
.altice {width:30%;}
/* .goback, .menu, .menu2, .menu3 { position:fixed; left:1%;}
.goback {top:1%; width:7.4%; }
.menu {top:6%; width:6%;}
.menu2 {top:11.05%; width:6%;}
.menu3 {top:16.1%; width:6%;} 
.akaii {  margin-top: 5%;} */
}



