img {
    width:100%;
    margin:0%;
    position: fixed;

   
}

body { 
    background-image:url('../img/dayone.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}